{
  "openapi": "3.0.0",
  "info": {
    "title": "Dados Abertos do SFN - Pontos de Atendimento de Pix Saque e Pix Troco",
    "description": "Mais informações sobre as regulações associadas aos Dados Abertos do Sistema Financeiro Nacional podem ser encontradas em https://www.bcb.gov.br/estabilidadefinanceira/dadosabertossfn , inclusive as relativas ao assunto de pontos de atendimento de Pix Saque e Pix Troco.",
    "contact": {
      "email": "dadosabertossfn@bcb.gov.br"
    },
    "license": {
      "name": "Open Database License (ODbL)",
      "url": "http://opendefinition.org/licenses/odc-odbl/"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://dadosabertos.banco.com.br/pontosPix/v1",
      "description": "Exemplo de caminho onde a API estará disponível."
    }
  ],
  "tags":[
    {
      "name": "Pix Saque e Pix Troco"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
            "Pix Saque e Pix Troco"
        ],
        "summary": "Lista de pontos de atendimento de Pix Saque e Pix Troco",
        "description": "Lista de informações relativas aos pontos de atendimento dos agentes de saque ou do participante que, diretamente, preste o serviço de saque.",
        "operationId": "listarPontosPix_saque",
        "responses": {
          "200": {
            "description": "Retorna um JSON com a lista de pontos de atendimento por agente de saque ou participante que, diretamente, preste o serviço de saque.",
            "content": {
              "application/json": {
                "schema": {
                        "$ref": "#/components/schemas/lista_ponto_Pix_saque"
                },
                "examples": {
                  "agente_saque_com_um_ponto_atendimento": {
                    "value": [{
                      "agente_saque": "Supermercado A",
                      "pontos_atendimento": [
                        {
                          "latitude": "-30.02795",
                          "longitude": "-51.22322",
                          "logradouro": "Rua 7 de Setembro, 586",
                          "bairro": "Centro",
                          "cidade": "Porto Alegre",
                          "estado": "RS",
                          "cep": "90010190",
                          "produtos": {
                            "Pix-saque": true,
                            "Pix-troco": true
                          },
                          "limite": {
                              "diurno" : "200.00"
                          },
                          "observacoes": "Pix Troco apenas para compras acima de 200 reais",
                          "horarios_funcionamento": [
                            {
                              "dia": "SEGUNDA_FEIRA",
                              "horario": {
                                "abertura_saque": "09:00",
                                "fechamento_saque": "18:00"
                              }
                            },
                            {
                              "dia": "TERCA_FEIRA",
                              "horario": {
                                "abertura_saque": "09:00",
                                "fechamento_saque": "18:00"
                              }
                            },
                            {
                              "dia": "QUARTA_FEIRA",
                              "horario": {
                                "abertura_saque": "09:00",
                                "fechamento_saque": "18:00"
                              }
                            },
                            {
                              "dia": "QUINTA_FEIRA",
                              "horario": {
                                "abertura_saque": "09:00",
                                "fechamento_saque": "18:00"
                              }
                            },
                            {
                              "dia": "SEXTA_FEIRA",
                              "horario": {
                                "abertura_saque": "09:00",
                                "fechamento_saque": "18:00"
                              }
                            },
                            {
                              "dia": "SABADO",
                              "horario": {
                                "abertura_saque": "09:00",
                                "fechamento_saque": "13:00"
                              }
                            }
                          ]
                        }
                      ]
                    }]
                  },
                  "agente_saque_com_varios_pontos_atendimento": {
                    "value": [{
  "agente_saque": "Supermercado B",
  "pontos_atendimento": [
    {
      "nome": "Filial Belo Horizonte",
      "latitude": "-19.93254",
      "longitude": "-43.94905",
      "logradouro": "Av Alvares Cabral 1605",
      "bairro": "Santo Agostinho",
      "cidade": "Belo Horizonte",
      "estado": "MG",
      "cep": "30170001",
      "produtos": {
        "Pix-saque": true,
        "Pix-troco": true
      },
      "limite": {
          "diurno" : "200.00",
          "noturno" : "70.00"
      },
      "observacoes": "Serviço de saque apenas no subsolo. Pix Troco apenas para compras acima de 20 reais",
      "horarios_funcionamento": [
        {
          "dia": "SEGUNDA_FEIRA",
          "horario": {
            "abertura_saque": "09:00",
            "fechamento_saque": "18:00"
          }
        },
        {
          "dia": "TERCA_FEIRA",
          "horario": {
            "abertura_saque": "09:00",
            "fechamento_saque": "18:00"
          }
        },
        {
          "dia": "QUARTA_FEIRA",
          "horario": {
            "abertura_saque": "09:00",
            "fechamento_saque": "18:00"
          }
        },
        {
          "dia": "QUINTA_FEIRA",
          "horario": {
            "abertura_saque": "09:00",
            "fechamento_saque": "18:00"
          }
        },
        {
          "dia": "SEXTA_FEIRA",
          "horario": {
            "abertura_saque": "09:00",
            "fechamento_saque": "18:00"
          }
        },
        {
          "dia": "SABADO",
          "horario": {
            "abertura_saque": "09:00",
            "fechamento_saque": "13:00"
          }
        }
      ]
    },
    {
      "nome": "Filial Brasília",
      "latitude": "-15.80228",
      "longitude": "-47.88524",
      "logradouro": "Setor Bancário Sul Q. 3 BL B",
      "bairro": "Asa Sul",
      "cidade": "Brasília",
      "estado": "DF",
      "cep": "70074900",
      "produtos": {
        "Pix-saque": true,
        "Pix-troco": false
      },
      "observacoes": "Pix saque somente para múltiplos de R$50",
      "horarios_funcionamento": [
        {
          "dia": "SEGUNDA_FEIRA",
          "horario": {
            "abertura_saque": "08:00",
            "fechamento_saque": "12:00"
          }
        },
        {
          "dia": "SEGUNDA_FEIRA",
          "horario": {
            "abertura_saque": "22:00",
            "fechamento_saque": "23:59"
          }
        },
        {
          "dia": "TERCA_FEIRA",
          "horario": {
            "abertura_saque": "00:00",
            "fechamento_saque": "12:00"
          }
        },
        {
          "dia": "TERCA_FEIRA",
          "horario": {
            "abertura_saque": "22:00",
            "fechamento_saque": "23:59"
          }
        },
        {
          "dia": "QUARTA_FEIRA",
          "horario": {
            "abertura_saque": "00:00",
            "fechamento_saque": "12:00"
          }
        },
        {
          "dia": "QUARTA_FEIRA",
          "horario": {
            "abertura_saque": "22:00",
            "fechamento_saque": "23:59"
          }
        },
        {
          "dia": "QUINTA_FEIRA",
          "horario": {
            "abertura_saque": "00:00",
            "fechamento_saque": "12:00"
          }
        },
        {
          "dia": "QUINTA_FEIRA",
          "horario": {
            "abertura_saque": "22:00",
            "fechamento_saque": "23:59"
          }
        },
        {
          "dia": "SEXTA_FEIRA",
          "horario": {
            "abertura_saque": "00:00",
            "fechamento_saque": "12:00"
          }
        },
        {
          "dia": "SEXTA_FEIRA",
          "horario": {
            "abertura_saque": "22:00",
            "fechamento_saque": "23:59"
          }
        },
        {
          "dia": "SABADO",
          "horario": {
            "abertura_saque": "08:00",
            "fechamento_saque": "20:00"
          }
        },
        {
          "dia": "DOMINGO",
          "horario": {
            "abertura_saque": "08:00",
            "fechamento_saque": "20:00"
          }
        }
      ]
    },
    {
      "nome": "Filial São Paulo",
      "latitude": "-23.55970",
      "longitude": "-46.65760",
      "logradouro": "Av Paulista 1804",
      "bairro": "Bela Vista",
      "cidade": "São Paulo",
      "estado": "SP",
      "cep": "01310922",
      "produtos": {
        "Pix-saque": false,
        "Pix-troco": true
      },
      "observacoes": "Não abrimos nos feriados. Pix troco somente para valores abaixo de R$30,00",
      "horarios_funcionamento": [
        {
          "dia": "SEGUNDA_FEIRA",
          "horario": {
            "abertura_saque": "00:00",
            "fechamento_saque": "23:59"
          }
        },
        {
          "dia": "TERCA_FEIRA",
          "horario": {
            "abertura_saque": "00:00",
            "fechamento_saque": "23:59"
          }
        },
        {
          "dia": "QUARTA_FEIRA",
          "horario": {
            "abertura_saque": "00:00",
            "fechamento_saque": "23:59"
          }
        },
        {
          "dia": "QUINTA_FEIRA",
          "horario": {
            "abertura_saque": "00:00",
            "fechamento_saque": "23:59"
          }
        },
        {
          "dia": "SEXTA_FEIRA",
          "horario": {
            "abertura_saque": "00:00",
            "fechamento_saque": "23:59"
          }
        }
      ]
    }
  ]
}]
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "lista_ponto_Pix_saque": {
        "description": "Lista de informações relativas aos pontos de atendimento dos agentes de saque ou do participante que, diretamente, preste o serviço de saque.",
        "type": "array",
        "minItems": 1,
        "items": {
          "type": "object",
          "required": [
            "agente_saque",
            "pontos_atendimento"
          ],
          "properties": {
            "agente_saque": {
              "description": "Nome do agente de saque ou do participante que, diretamente, preste o serviço de saque.",
              "type": "string"
            },
            "pontos_atendimento": {
              "description": "Lista de todos os pontos de atendimento de um agente de saque ou do participante que, diretamente, preste o serviço de saque.",
              "type": "array",
              "minItems": 1,
              "items": {
                "description": "Detalhes de um ponto de atendimento.",
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "latitude",
                  "longitude",
                  "logradouro",
                  "bairro",
                  "cidade",
                  "estado",
                  "cep",
                  "produtos",
                  "horarios_funcionamento"
                ],
                "properties": {
                  "nome": {
                    "description": "Nome do ponto de atendimento. Este nome é opcional e tem como função detalhar cada ponto de atendimento de um agente de saque ou do participante que, diretamente, venha a prestar serviço de saque.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 50
                  },
                  "latitude": {
                    "description": "Latitude da posição geográfica. A faixa de valores válida é de -90 a 90, sendo que devem ser utilizadas pelo menos 5 casas decimais.",
                    "type": "string",
                    "pattern": "^((-?90[.][0]{5,})|((-?[1-8]?[0-9])[.][0-9]{5,}))$"
                  },
                  "longitude": {
                    "description": "Longitude da posição geográfica. A faixa de valores válida é de -180 a 180, sendo que devem ser utilizadas pelo menos 5 casas decimais.",
                    "type": "string",
                    "pattern": "^-?((180[.][0]{5,})|(((1[0-7][0-9])[.][0-9]{5,})|(([1-9]?[0-9])[.][0-9]{5,})))$"
                  },
                  "logradouro": {
                    "description": "Logradouro do ponto de atendimento.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "bairro": {
                    "description": "Bairro do ponto de atendimento.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 40
                  },
                  "cidade": {
                    "description": "Cidade do ponto de atendimento.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 40
                  },
                  "estado": {
                    "description": "Estado do ponto de atendimento.",
                    "type": "string",
                    "enum": [
                      "AC",
                      "AL",
                      "AP",
                      "AM",
                      "BA",
                      "CE",
                      "ES",
                      "GO",
                      "MA",
                      "MT",
                      "MS",
                      "MG",
                      "PA",
                      "PB",
                      "PR",
                      "PE",
                      "PI",
                      "RJ",
                      "RN",
                      "RS",
                      "RO",
                      "RR",
                      "SC",
                      "SP",
                      "SE",
                      "TO",
                      "DF"
                    ]
                  },
                  "cep": {
                    "description": "CEP do ponto de atendimento. Devem ser informados apenas os 8 números sem qualquer máscara.",
                    "type": "string",
                    "pattern": "\\d{8}"
                  },
                  "produtos": {
                    "description": "Indicação sobre quais produtos este ponto de atendimento oferece.",
                    "type": "object",
                    "required": [
                      "Pix-saque",
                      "Pix-troco"
                    ],
                    "properties": {
                      "Pix-saque": {
                        "description": "Indicação se o ponto de atendimento oferece Pix saque.",
                        "type": "boolean"
                      },
                      "Pix-troco": {
                        "description": "Indicação se o ponto de atendimento oferece Pix troco.",
                        "type": "boolean"
                      }
                    }
                  },
                  "limite": {
                    "description": "Limite máximo de saque para o ponto de atendimento. O fornecimento dessa informação é facultativa para o agente de saque.",
                    "type": "object",
                    "anyOf": [
                         {"required": ["diurno"]},
                         {"required": ["noturno"]},
                         {"required": ["diurno","noturno"]}
                    ],                    
                    "properties" : {
                        "diurno" : {
                            "description" : "Limite máximo de para o ponto de antendimento no período diurno.",
                            "type" : "string",
                            "pattern": "^(([0-9]{1,6})|(([0-9]{1,6})[.][0-9]{2}))$"
                        },
                        "noturno" : {
                            "description" : "Limite máximo de para o ponto de antendimento no período noturno.",
                            "type" : "string",
                            "pattern": "^(([0-9]{1,6})|(([0-9]{1,6})[.][0-9]{2}))$"
                        }
                    }
                  },
                  "horarios_funcionamento": {
                    "description": "Lista com os horários em que o Pix Saque ou Pix Troco estará disponível.  Caso algum dia da semana não seja informado isto significa que o serviço de saque não estará disponível naquele dia.",
                    "type": "array",
                    "minItems": 1,
                    "additionalProperties": false,
                    "items": {
                      "required": [
                        "dia"
                      ],
                      "properties": {
                        "dia": {
                          "description": "Lista de dias da semana.",
                          "type": "string",
                          "enum": [
                            "SEGUNDA_FEIRA",
                            "TERCA_FEIRA",
                            "QUARTA_FEIRA",
                            "QUINTA_FEIRA",
                            "SEXTA_FEIRA",
                            "SABADO",
                            "DOMINGO"
                          ]
                        },
                        "horario": {
                          "description": "Horários de abertura e fechamento para a disponibilidade do serviço de saque. Os valores válidos vão de 00:00 a 23:59. Caso existam dois períodos de funcionamento dentro de um mesmo dia da semana este deve ser repetido para cada período. Estes horários não necessariamente coincidem com a abertura e o fechamento do ponto de saque para as suas atividades comerciais. Por exemplo: um determinado ponto de atendimento pode estar comercialmente aberto de 9:00 e 18:00 mas permitir saques apenas entre 12:00 e 16:00.",
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "abertura_saque": {
                              "description": "Hora de abertura para serviço de saque.",
                              "type": "string",
                              "pattern": "^([0-1][0-9]|2[0-3]):[0-5][0-9]$"
                            },
                            "fechamento_saque": {
                              "description": "Hora de fechamento para serviço de saque.",
                              "type": "string",
                              "pattern": "^([0-1][0-9]|2[0-3]):[0-5][0-9]$"
                            }
                          }
                        }
                      }
                    }
                  },
                  "observacoes": {
                    "description": "Observações gerais sobre o ponto de atendimento. O fornecimento dessa informação é facultativa para o agente de saque.",
                    "type": "string",
                    "maxLength": 250
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
