{
  "openapi": "3.0.0",
  "info": {
    "title": "Dados Abertos do SFN - Pontos de Atendimento de Pix Saque e Pix Troco",
    "description": "Mais informações sobre as regulações associadas aos Dados Abertos do Sistema Financeiro Nacional podem ser encontradas em https://www.bcb.gov.br/estabilidadefinanceira/dadosabertossfn , inclusive as relativas ao assunto de pontos de atendimento de Pix Saque e Pix Troco.",
    "contact": {
      "email": "dadosabertossfn@bcb.gov.br"
    },
    "license": {
      "name": "Open Database License (ODbL)",
      "url": "http://opendefinition.org/licenses/odc-odbl/"
    },
    "version": "1.0.1"
  },
  "servers": [
    {
      "url": "https://dadosabertos.banco.com.br/pontosPix/v1",
      "description": "Exemplo de caminho onde a API estará disponível."
    }
  ],
  "tags": [
    {
      "name": "Pix Saque e Pix Troco"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Pix Saque e Pix Troco"
        ],
        "summary": "Lista de pontos de atendimento de Pix Saque e Pix Troco",
        "description": "Lista de informações relativas aos pontos de atendimento dos agentes de saque ou do participante que, diretamente, preste o serviço de saque.",
        "operationId": "listarPontosPix_saque",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna um JSON com a lista de pontos de atendimento por agente de saque ou participante que, diretamente, preste o serviço de saque.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "registros",
                    "meta",
                    "links"
                  ],
                  "properties": {
                    "registros": {
                      "$ref": "#/components/schemas/lista_ponto_Pix_saque"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/meta"
                    },
                    "links": {
                      "$ref": "#/components/schemas/links"
                    }
                  }
                },
                "examples": {
                  "agente_saque_com_um_ponto_atendimento": {
                    "value": {
                      "registros": [
                        {
                          "cnpj_agente_saque": "22222222222222",
                          "nome_agente_saque": "Supermercado A",
                          "pontos_atendimento": [
                            {
                              "latitude": "-30.02795",
                              "longitude": "-51.22322",
                              "logradouro": "Rua 7 de Setembro, 586",
                              "bairro": "Centro",
                              "cidade": "Porto Alegre",
                              "estado": "RS",
                              "cep": "90010190",
                              "produtos": {
                                "Pix-saque": true,
                                "Pix-troco": true
                              },
                              "observacoes": "Pix Troco apenas para compras acima de 200 reais",
                              "horarios_funcionamento": [
                                {
                                  "dia": "SEGUNDA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "09:00",
                                    "fechamento_saque": "18:00"
                                  },
                                  "valor_maximo_disponivel": "100.00"
                                },
                                {
                                  "dia": "TERCA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "09:00",
                                    "fechamento_saque": "18:00"
                                  },
                                  "valor_maximo_disponivel": "100.00"
                                },
                                {
                                  "dia": "QUARTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "09:00",
                                    "fechamento_saque": "18:00"
                                  },
                                  "valor_maximo_disponivel": "100.00"
                                },
                                {
                                  "dia": "QUINTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "09:00",
                                    "fechamento_saque": "18:00"
                                  },
                                  "valor_maximo_disponivel": "100.00"
                                },
                                {
                                  "dia": "SEXTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "09:00",
                                    "fechamento_saque": "18:00"
                                  },
                                  "valor_maximo_disponivel": "100.00"
                                },
                                {
                                  "dia": "SABADO",
                                  "horario": {
                                    "abertura_saque": "09:00",
                                    "fechamento_saque": "13:00"
                                  },
                                  "valor_maximo_disponivel": "70.00"
                                }
                              ]
                            }
                          ]
                        }
                      ],
                      "meta": {
                        "nome_transmissora": "Banco XYZ",
                        "isp_transmissora": "99999999",
                        "total_registros": 1,
                        "total_paginas": 1,
                        "dataHora_requisicao": "2021-08-01T04:30:00Z"
                      },
                      "links": {
                        "self": "https://api.banco.com.br/open-banking/pontosPix/v1/"
                      }
                    }
                  },
                  "agente_saque_com_varios_pontos_atendimento": {
                    "value": {
                      "registros": [
                        {
                          "cnpj_agente_saque": "33333333333333",
                          "nome_agente_saque": "Supermercado B",
                          "pontos_atendimento": [
                            {
                              "nome": "Filial Belo Horizonte",
                              "latitude": "-19.93254",
                              "longitude": "-43.94905",
                              "logradouro": "Av Alvares Cabral 1605",
                              "bairro": "Santo Agostinho",
                              "cidade": "Belo Horizonte",
                              "estado": "MG",
                              "cep": "30170001",
                              "produtos": {
                                "Pix-saque": true,
                                "Pix-troco": true
                              },
                              "observacoes": "Serviço de saque apenas no subsolo. Pix Troco apenas para compras acima de 20 reais",
                              "horarios_funcionamento": [
                                {
                                  "dia": "SEGUNDA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "09:00",
                                    "fechamento_saque": "18:00"
                                  }
                                },
                                {
                                  "dia": "TERCA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "09:00",
                                    "fechamento_saque": "18:00"
                                  }
                                },
                                {
                                  "dia": "QUARTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "09:00",
                                    "fechamento_saque": "18:00"
                                  }
                                },
                                {
                                  "dia": "QUINTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "09:00",
                                    "fechamento_saque": "18:00"
                                  }
                                },
                                {
                                  "dia": "SEXTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "09:00",
                                    "fechamento_saque": "18:00"
                                  }
                                },
                                {
                                  "dia": "SABADO",
                                  "horario": {
                                    "abertura_saque": "09:00",
                                    "fechamento_saque": "13:00"
                                  }
                                }
                              ]
                            },
                            {
                              "nome": "Filial Brasília",
                              "latitude": "-15.80228",
                              "longitude": "-47.88524",
                              "logradouro": "Setor Bancário Sul Q. 3 BL B",
                              "bairro": "Asa Sul",
                              "cidade": "Brasília",
                              "estado": "DF",
                              "cep": "70074900",
                              "produtos": {
                                "Pix-saque": true,
                                "Pix-troco": false
                              },
                              "observacoes": "Pix saque somente para múltiplos de R$20",
                              "horarios_funcionamento": [
                                {
                                  "dia": "SEGUNDA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "08:00",
                                    "fechamento_saque": "12:00"
                                  },
                                  "valor_maximo_disponivel": "200.00"
                                },
                                {
                                  "dia": "SEGUNDA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "22:00",
                                    "fechamento_saque": "23:59"
                                  },
                                  "valor_maximo_disponivel": "80.00"
                                },
                                {
                                  "dia": "TERCA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "00:00",
                                    "fechamento_saque": "07:59"
                                  },
                                  "valor_maximo_disponivel": "80.00"
                                },
                                {
                                  "dia": "TERCA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "08:00",
                                    "fechamento_saque": "12:00"
                                  },
                                  "valor_maximo_disponivel": "200.00"
                                },
                                {
                                  "dia": "TERCA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "22:00",
                                    "fechamento_saque": "23:59"
                                  },
                                  "valor_maximo_disponivel": "60.00"
                                },
                                {
                                  "dia": "QUARTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "00:00",
                                    "fechamento_saque": "07:59"
                                  },
                                  "valor_maximo_disponivel": "60.00"
                                },
                                {
                                  "dia": "QUARTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "08:00",
                                    "fechamento_saque": "12:00"
                                  },
                                  "valor_maximo_disponivel": "200.00"
                                },
                                {
                                  "dia": "QUARTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "22:00",
                                    "fechamento_saque": "23:59"
                                  },
                                  "valor_maximo_disponivel": "80.00"
                                },
                                {
                                  "dia": "QUINTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "00:00",
                                    "fechamento_saque": "07:59"
                                  },
                                  "valor_maximo_disponivel": "80.00"
                                },
                                {
                                  "dia": "QUINTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "08:00",
                                    "fechamento_saque": "12:00"
                                  },
                                  "valor_maximo_disponivel": "200.00"
                                },
                                {
                                  "dia": "QUINTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "22:00",
                                    "fechamento_saque": "23:59"
                                  },
                                  "valor_maximo_disponivel": "80.00"
                                },
                                {
                                  "dia": "SEXTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "00:00",
                                    "fechamento_saque": "07:59"
                                  },
                                  "valor_maximo_disponivel": "80.00"
                                },
                                {
                                  "dia": "SEXTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "08:00",
                                    "fechamento_saque": "12:00"
                                  },
                                  "valor_maximo_disponivel": "200.00"
                                },
                                {
                                  "dia": "SEXTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "22:00",
                                    "fechamento_saque": "23:59"
                                  },
                                  "valor_maximo_disponivel": "80.00"
                                },
                                {
                                  "dia": "SABADO",
                                  "horario": {
                                    "abertura_saque": "08:00",
                                    "fechamento_saque": "20:00"
                                  },
                                  "valor_maximo_disponivel": "80.00"
                                },
                                {
                                  "dia": "DOMINGO",
                                  "horario": {
                                    "abertura_saque": "08:00",
                                    "fechamento_saque": "20:00"
                                  },
                                  "valor_maximo_disponivel": "80.00"
                                }
                              ]
                            },
                            {
                              "nome": "Filial São Paulo",
                              "latitude": "-23.55970",
                              "longitude": "-46.65760",
                              "logradouro": "Av Paulista 1804",
                              "bairro": "Bela Vista",
                              "cidade": "São Paulo",
                              "estado": "SP",
                              "cep": "01310922",
                              "produtos": {
                                "Pix-saque": false,
                                "Pix-troco": true
                              },
                              "observacoes": "Não abrimos nos feriados. Pix troco somente para valores abaixo de R$30,00",
                              "horarios_funcionamento": [
                                {
                                  "dia": "SEGUNDA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "00:00",
                                    "fechamento_saque": "23:59"
                                  }
                                },
                                {
                                  "dia": "TERCA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "00:00",
                                    "fechamento_saque": "23:59"
                                  }
                                },
                                {
                                  "dia": "QUARTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "00:00",
                                    "fechamento_saque": "23:59"
                                  }
                                },
                                {
                                  "dia": "QUINTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "00:00",
                                    "fechamento_saque": "23:59"
                                  }
                                },
                                {
                                  "dia": "SEXTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "00:00",
                                    "fechamento_saque": "23:59"
                                  }
                                }
                              ]
                            }
                          ]
                        }
                      ],
                      "meta": {
                        "nome_transmissora": "Banco XYZ",
                        "isp_transmissora": "99999999",
                        "total_registros": 3,
                        "total_paginas": 2,
                        "dataHora_requisicao": "2021-08-02T04:30:00Z"
                      },
                      "links": {
                        "self": "https://api.banco.com.br/open-banking/pontosPix/v1/page=2&page-size=2",
                        "first": "https://api.banco.com.br/open-banking/pontosPix/v1/page=1&page-size=2",
                        "prev": "https://api.banco.com.br/open-banking/pontosPix/v1/?page=1&page-size=2"
                      }
                    }
                  },
                  "varios_agentes_saque": {
                    "value": {
                      "registros": [
                        {
                          "cnpj_agente_saque": "33333333333333",
                          "nome_agente_saque": "Supermercado B",
                          "pontos_atendimento": [
                            {
                              "nome": "Supermercado B - Filial Belo Horizonte",
                              "latitude": "-19.93254",
                              "longitude": "-43.94905",
                              "logradouro": "Av Alvares Cabral 1605",
                              "bairro": "Santo Agostinho",
                              "cidade": "Belo Horizonte",
                              "estado": "MG",
                              "cep": "30170001",
                              "produtos": {
                                "Pix-saque": true,
                                "Pix-troco": true
                              },
                              "observacoes": "Serviço de saque apenas no subsolo. Pix Troco apenas para compras acima de 20 reais",
                              "horarios_funcionamento": [
                                {
                                  "dia": "SEGUNDA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "09:00",
                                    "fechamento_saque": "18:00"
                                  }
                                },
                                {
                                  "dia": "TERCA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "09:00",
                                    "fechamento_saque": "18:00"
                                  }
                                },
                                {
                                  "dia": "QUARTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "09:00",
                                    "fechamento_saque": "18:00"
                                  }
                                },
                                {
                                  "dia": "QUINTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "09:00",
                                    "fechamento_saque": "18:00"
                                  }
                                },
                                {
                                  "dia": "SEXTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "09:00",
                                    "fechamento_saque": "18:00"
                                  }
                                },
                                {
                                  "dia": "SABADO",
                                  "horario": {
                                    "abertura_saque": "09:00",
                                    "fechamento_saque": "13:00"
                                  }
                                }
                              ]
                            },
                            {
                              "nome": "Filial Brasília",
                              "latitude": "-15.80228",
                              "longitude": "-47.88524",
                              "logradouro": "Setor Bancário Sul Q. 3 BL B",
                              "bairro": "Asa Sul",
                              "cidade": "Brasília",
                              "estado": "DF",
                              "cep": "70074900",
                              "produtos": {
                                "Pix-saque": true,
                                "Pix-troco": false
                              },
                              "observacoes": "Pix saque somente para múltiplos de R$20",
                              "horarios_funcionamento": [
                                {
                                  "dia": "SEGUNDA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "08:00",
                                    "fechamento_saque": "12:00"
                                  },
                                  "valor_maximo_disponivel": "200.00"
                                },
                                {
                                  "dia": "SEGUNDA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "22:00",
                                    "fechamento_saque": "23:59"
                                  },
                                  "valor_maximo_disponivel": "80.00"
                                },
                                {
                                  "dia": "TERCA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "00:00",
                                    "fechamento_saque": "07:59"
                                  },
                                  "valor_maximo_disponivel": "80.00"
                                },
                                {
                                  "dia": "TERCA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "08:00",
                                    "fechamento_saque": "12:00"
                                  },
                                  "valor_maximo_disponivel": "200.00"
                                },
                                {
                                  "dia": "TERCA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "22:00",
                                    "fechamento_saque": "23:59"
                                  },
                                  "valor_maximo_disponivel": "60.00"
                                },
                                {
                                  "dia": "QUARTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "00:00",
                                    "fechamento_saque": "07:59"
                                  },
                                  "valor_maximo_disponivel": "60.00"
                                },
                                {
                                  "dia": "QUARTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "08:00",
                                    "fechamento_saque": "12:00"
                                  },
                                  "valor_maximo_disponivel": "200.00"
                                },
                                {
                                  "dia": "QUARTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "22:00",
                                    "fechamento_saque": "23:59"
                                  },
                                  "valor_maximo_disponivel": "80.00"
                                },
                                {
                                  "dia": "QUINTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "00:00",
                                    "fechamento_saque": "07:59"
                                  },
                                  "valor_maximo_disponivel": "80.00"
                                },
                                {
                                  "dia": "QUINTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "08:00",
                                    "fechamento_saque": "12:00"
                                  },
                                  "valor_maximo_disponivel": "200.00"
                                },
                                {
                                  "dia": "QUINTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "22:00",
                                    "fechamento_saque": "23:59"
                                  },
                                  "valor_maximo_disponivel": "80.00"
                                },
                                {
                                  "dia": "SEXTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "00:00",
                                    "fechamento_saque": "07:59"
                                  },
                                  "valor_maximo_disponivel": "80.00"
                                },
                                {
                                  "dia": "SEXTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "08:00",
                                    "fechamento_saque": "12:00"
                                  },
                                  "valor_maximo_disponivel": "200.00"
                                },
                                {
                                  "dia": "SEXTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "22:00",
                                    "fechamento_saque": "23:59"
                                  },
                                  "valor_maximo_disponivel": "80.00"
                                },
                                {
                                  "dia": "SABADO",
                                  "horario": {
                                    "abertura_saque": "08:00",
                                    "fechamento_saque": "20:00"
                                  },
                                  "valor_maximo_disponivel": "80.00"
                                },
                                {
                                  "dia": "DOMINGO",
                                  "horario": {
                                    "abertura_saque": "08:00",
                                    "fechamento_saque": "20:00"
                                  },
                                  "valor_maximo_disponivel": "80.00"
                                }
                              ]
                            },
                            {
                              "nome": "Filial São Paulo",
                              "latitude": "-23.55970",
                              "longitude": "-46.65760",
                              "logradouro": "Av Paulista 1804",
                              "bairro": "Bela Vista",
                              "cidade": "São Paulo",
                              "estado": "SP",
                              "cep": "01310922",
                              "produtos": {
                                "Pix-saque": false,
                                "Pix-troco": true
                              },
                              "observacoes": "Não abrimos nos feriados. Pix troco somente para valores abaixo de R$30,00",
                              "horarios_funcionamento": [
                                {
                                  "dia": "SEGUNDA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "00:00",
                                    "fechamento_saque": "23:59"
                                  }
                                },
                                {
                                  "dia": "TERCA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "00:00",
                                    "fechamento_saque": "23:59"
                                  }
                                },
                                {
                                  "dia": "QUARTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "00:00",
                                    "fechamento_saque": "23:59"
                                  }
                                },
                                {
                                  "dia": "QUINTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "00:00",
                                    "fechamento_saque": "23:59"
                                  }
                                },
                                {
                                  "dia": "SEXTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "00:00",
                                    "fechamento_saque": "23:59"
                                  }
                                }
                              ]
                            }
                          ]
                        },
                        {
                          "cnpj_agente_saque": "22222222222222",
                          "nome_agente_saque": "Supermercado A",
                          "pontos_atendimento": [
                            {
                              "latitude": "-30.02795",
                              "longitude": "-51.22322",
                              "logradouro": "Rua 7 de Setembro, 586",
                              "bairro": "Centro",
                              "cidade": "Porto Alegre",
                              "estado": "RS",
                              "cep": "90010190",
                              "produtos": {
                                "Pix-saque": true,
                                "Pix-troco": true
                              },
                              "observacoes": "Pix Troco apenas para compras acima de 200 reais",
                              "horarios_funcionamento": [
                                {
                                  "dia": "SEGUNDA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "09:00",
                                    "fechamento_saque": "18:00"
                                  },
                                  "valor_maximo_disponivel": "100.00"
                                },
                                {
                                  "dia": "TERCA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "09:00",
                                    "fechamento_saque": "18:00"
                                  },
                                  "valor_maximo_disponivel": "100.00"
                                },
                                {
                                  "dia": "QUARTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "09:00",
                                    "fechamento_saque": "18:00"
                                  },
                                  "valor_maximo_disponivel": "100.00"
                                },
                                {
                                  "dia": "QUINTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "09:00",
                                    "fechamento_saque": "18:00"
                                  },
                                  "valor_maximo_disponivel": "100.00"
                                },
                                {
                                  "dia": "SEXTA_FEIRA",
                                  "horario": {
                                    "abertura_saque": "09:00",
                                    "fechamento_saque": "18:00"
                                  },
                                  "valor_maximo_disponivel": "100.00"
                                },
                                {
                                  "dia": "SABADO",
                                  "horario": {
                                    "abertura_saque": "09:00",
                                    "fechamento_saque": "13:00"
                                  },
                                  "valor_maximo_disponivel": "70.00"
                                }
                              ]
                            }
                          ]
                        }
                      ],
                      "meta": {
                        "nome_transmissora": "Banco XYZ",
                        "isp_transmissora": "99999999",
                        "total_registros": 4,
                        "total_paginas": 2,
                        "dataHora_requisicao": "2021-08-02T04:30:00Z"
                      },
                      "links": {
                        "self": "https://api.banco.com.br/open-banking/pontosPix/v1/?page=1&page-size=4",
                        "next": "https://api.banco.com.br/open-banking/pontosPix/v1/?page=2&page-size=4",
                        "last": "https://api.banco.com.br/open-banking/pontosPix/v1/page=2&page-size=4"
                      }
                    }                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "lista_ponto_Pix_saque": {
        "description": "Lista de informações relativas aos pontos de atendimento dos agentes de saque ou do participante que, diretamente, preste o serviço de saque.",
        "type": "array",
        "minItems": 1,
        "items": {
          "description": "Lista de informações relativas aos pontos de atendimento dos agentes de saque ou do participante que, diretamente, preste o serviço de saque.",
          "type": "object",
          "required": [
            "cnpj_agente_saque",
            "nome_agente_saque",
            "pontos_atendimento"
          ],
          "properties": {
            "cnpj_agente_saque": {
              "description": "Cnpj do agente de saque ou do participante que, diretamento, presta o serviço de saque. Com 14 dígitos, sem máscara.",
              "type": "string",
              "pattern": "^[0-9]{14}$"
            },
            "nome_agente_saque": {
              "description": "Nome do agente de saque ou do participante que, diretamente, preste o serviço de saque.",
              "type": "string"
            },
            "pontos_atendimento": {
              "description": "Lista de todos os pontos de atendimento de um agente de saque ou do participante que, diretamente, preste o serviço de saque.",
              "type": "array",
              "minItems": 1,
              "items": {
                "description": "Detalhes de um ponto de atendimento.",
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "latitude",
                  "longitude",
                  "logradouro",
                  "bairro",
                  "cidade",
                  "estado",
                  "cep",
                  "produtos",
                  "horarios_funcionamento"
                ],
                "properties": {
                  "nome": {
                    "description": "Nome do ponto de atendimento. Este nome é opcional e tem como função detalhar cada ponto de atendimento de um agente de saque ou do participante que, diretamente, venha a prestar serviço de saque.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 50
                  },
                  "latitude": {
                    "description": "Latitude da posição geográfica. A faixa de valores válida é de -90 a 90, sendo que devem ser utilizadas pelo menos 5 casas decimais.",
                    "type": "string",
                    "pattern": "^((-?90[.][0]{5,})|((-?[1-8]?[0-9])[.][0-9]{5,}))$"
                  },
                  "longitude": {
                    "description": "Longitude da posição geográfica. A faixa de valores válida é de -180 a 180, sendo que devem ser utilizadas pelo menos 5 casas decimais.",
                    "type": "string",
                    "pattern": "^-?((180[.][0]{5,})|(((1[0-7][0-9])[.][0-9]{5,})|(([1-9]?[0-9])[.][0-9]{5,})))$"
                  },
                  "logradouro": {
                    "description": "Logradouro do ponto de atendimento.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "bairro": {
                    "description": "Bairro do ponto de atendimento.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 40
                  },
                  "cidade": {
                    "description": "Cidade do ponto de atendimento.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 40
                  },
                  "estado": {
                    "description": "Estado do ponto de atendimento.",
                    "type": "string",
                    "enum": [
                      "AC",
                      "AL",
                      "AP",
                      "AM",
                      "BA",
                      "CE",
                      "ES",
                      "GO",
                      "MA",
                      "MT",
                      "MS",
                      "MG",
                      "PA",
                      "PB",
                      "PR",
                      "PE",
                      "PI",
                      "RJ",
                      "RN",
                      "RS",
                      "RO",
                      "RR",
                      "SC",
                      "SP",
                      "SE",
                      "TO",
                      "DF"
                    ]
                  },
                  "cep": {
                    "description": "CEP do ponto de atendimento. Devem ser informados apenas os 8 números sem qualquer máscara.",
                    "type": "string",
                    "pattern": "\\d{8}"
                  },
                  "produtos": {
                    "description": "Indicação sobre quais produtos este ponto de atendimento oferece.",
                    "type": "object",
                    "required": [
                      "Pix-saque",
                      "Pix-troco"
                    ],
                    "properties": {
                      "Pix-saque": {
                        "description": "Indicação se o ponto de atendimento oferece Pix saque.",
                        "type": "boolean"
                      },
                      "Pix-troco": {
                        "description": "Indicação se o ponto de atendimento oferece Pix troco.",
                        "type": "boolean"
                      }
                    }
                  },
                  "horarios_funcionamento": {
                    "description": "Lista com os horários em que o Pix Saque ou Pix Troco estará disponível.  Caso algum dia da semana não seja informado isto significa que o serviço de saque não estará disponível naquele dia.",
                    "type": "array",
                    "minItems": 1,
                    "additionalProperties": false,
                    "items": {
                      "required": [
                        "dia"
                      ],
                      "properties": {
                        "dia": {
                          "description": "Lista de dias da semana.",
                          "type": "string",
                          "enum": [
                            "SEGUNDA_FEIRA",
                            "TERCA_FEIRA",
                            "QUARTA_FEIRA",
                            "QUINTA_FEIRA",
                            "SEXTA_FEIRA",
                            "SABADO",
                            "DOMINGO"
                          ]
                        },
                        "horario": {
                          "description": "Horários de abertura e fechamento para a disponibilidade do serviço de saque. Os valores válidos vão de 00:00 a 23:59. Caso existam dois períodos de funcionamento dentro de um mesmo dia da semana este deve ser repetido para cada período. Estes horários não necessariamente coincidem com a abertura e o fechamento do ponto de saque para as suas atividades comerciais. Por exemplo: um determinado ponto de atendimento pode estar comercialmente aberto de 9:00 e 18:00 mas permitir saques apenas entre 12:00 e 16:00.",
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "abertura_saque": {
                              "description": "Hora de abertura para serviço de saque.",
                              "type": "string",
                              "pattern": "^([0-1][0-9]|2[0-3]):[0-5][0-9]$"
                            },
                            "fechamento_saque": {
                              "description": "Hora de fechamento para serviço de saque.",
                              "type": "string",
                              "pattern": "^([0-1][0-9]|2[0-3]):[0-5][0-9]$"
                            }
                          }
                        },
                        "valor_maximo_disponivel": {
                          "description": "Valor máximo disponível por saque",
                          "type": "string",
                          "pattern": "^(([0-9]{1,6})|(([0-9]{1,6})[.][0-9]{2}))$"
                        }
                      }
                    }
                  },
                  "observacoes": {
                    "description": "Observações gerais sobre o ponto de atendimento. O fornecimento dessa informação é facultativa para o agente de saque.",
                    "type": "string",
                    "maxLength": 250
                  }
                }
              }
            }
          }
        }
      },
      "meta": {
        "description": "Meta informações referente a API requisitada.",
        "type": "object",
        "properties": {
          "nome_transmissora": {
            "type": "string",
            "description": "Nome instituição fornecendo as informações",
            "example": "Banco XYZ"
          },
          "isp_transmissora": {
            "type": "string",
            "minLength": 8,
            "maxLength": 8,
            "pattern": "^(\\d{8})$",
            "description": "Número do CNPJ da instituição transmitindo os dados.\nDeve-se ter apenas os 8 primeiros números do CNPJ, sem máscara.",
            "example": "45086378"
          },
          "total_registros": {
            "type": "integer",
            "description": "Total de pontos de atendimento encontrados",
            "example": 253
          },
          "total_paginas": {
            "type": "integer",
            "description": "Total de páginas para os registros encontrados",
            "example": 1
          },
          "dataHora_requisicao": {
            "description": "Data e hora da consulta, conforme especificação RFC-3339, formato UTC.",
            "type": "string",
            "maxLength": 20,
            "format": "date-time",
            "example": "2021-05-21T08:30:00Z"
          }
        },
        "required": [
          "nome_transmissora",
          "isp_transmissora",
          "total_registros",
          "total_paginas",
          "dataHora_requisicao"
        ]
      },
      "links": {
        "type": "object",
        "description": "Referências para outros recursos da API voltados para navegação.",
        "properties": {
          "self": {
            "type": "string",
            "description": "URI da página atualmente requisitada.",
            "format": "uri",
            "maxLength": 2000,
            "example": "https://api.banco.com.br/open-banking/pontosPix/v1/?page=3&page-size=25"
          },
          "first": {
            "type": "string",
            "description": "URI da primeira página que originou essa lista de resultados. Restrição - Obrigatório quando não for a primeira página da resposta. Quando for a primeira não retornar atributo ou retornar 'null'.",
            "format": "uri",
            "maxLength": 2000,
            "example": "https://api.banco.com.br/open-banking/pontosPix/v1/page=1&page-size=25"
          },
          "prev": {
            "type": "string",
            "description": "URI da página anterior dessa lista de resultados. Restrição - Obrigatório quando não for a primeira página da resposta. Quando for a primeira, não retornar atributo ou retornar 'null'.",
            "format": "uri",
            "maxLength": 2000,
            "example": "https://api.banco.com.br/open-banking/pontosPix/v1/?page=2&page-size=25"
          },
          "next": {
            "type": "string",
            "description": "URI da próxima página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta. Quando for a última, não retornar atributo ou retornar 'null'.",
            "format": "uri",
            "maxLength": 2000,
            "example": "https://api.banco.com.br/open-banking/pontosPix/v1/?page=4&page-size=25"
          },
          "last": {
            "type": "string",
            "description": "URI da última página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta. Quando for a última, não retornar atributo ou retornar 'null'.",
            "format": "uri",
            "maxLength": 2000,
            "example": "https://api.banco.com.br/open-banking/pontosPix/v1/?page=5&page-size=25"
          }
        },
        "required": [
          "self"
        ]
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "Número da página que está sendo requisitada. Ex: para 'page=2&page-size=25', requisição retornará do 26º registro ao 50º.",
        "schema": {
          "type": "integer",
          "format": "int32",
          "default": 1,
          "minimum": 1
        }
      },
      "pageSize": {
        "name": "page-size",
        "in": "query",
        "description": "Quantidade total de registros por páginas. Este campo, assim como 'page', é opcional. A estrutura 'links' do payload de resposta indica quando houve necessidade de paginação.",
        "schema": {
          "type": "integer",
          "format": "int32",
          "default": 100,
          "minimum": 1
        }
      }
    }
  }
}
